@media screen and (max-width: 680px) {
  .menu {
      ul {
          flex-direction: column;
      }
  }

  header {
      flex-direction: column;
  }

  .content {
      flex-direction: column;
  }
}