body {
  background-color: grey;
}
nav li {
  list-style: none;
}
a {
  text-decoration: none;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
header {
  display: flex;
}
.profile_pic {
  width: 500px;
  height: 300px;
  border: 1px solid;
  border-radius: 10px;
}
.title {
  font-size: 2rem;
     
} 
.title li {
  list-style: none;
  
}
.background{
  border: 1px solid;
  background-color: aqua;
  flex:auto
}
.achievements{
  border: 1px solid;
  background-color: yellow;
  flex: auto;
}
.learning{
  border: 1px dotted blue;
  color: #ffff;
  background: green;
  padding: 1rem;
}
.about{
  border: 4px groove;
  background: blue;
  color: #ffff;
  margin: 3px ;
  padding: 1rem 1rem;
  text-align: center;
}